.Primeiradiv {
    background-color: rgb(212, 93, 212);
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: column;
}


.Segundadiv {
    background-color: #ff008c;
    height: 100%;
    width: 250px;
    border: 20px solid rgb(219, 37, 37);
}


.Terceiradiv {
    background-color: #37eeee;
    height: 88%;
    width: 30%;
}